html {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  background: linear-gradient(#000 0%, #222 100%);
  color: white;
}
h1{
  font-family: "Poiret One", sans-serif;
  text-align: center;
  color: #F8F8FF;
  font-size: 100px;
}
h2{
  font-family: "Poiret One", sans-serif;
  text-align: center;
  color: #F8F8FF;
}
h4{
  font-family: "Poiret One", sans-serif;
  text-align: center;
  color: #F8F8FF;
}
p {
  font-family: "Press Start 2P", sans-serif;
  color: #F8F8FF;
}
#special {
  display: none;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.titleCard{
  padding: 50px;
  width: 100%;
}
.hidden{
  display: none;
}
.adventureTime{
  color: #F8F8FF;
}
.container{
  max-width: 80%;
  margin: auto;
  height: 500px;
}
.titleCard{
  padding: 50px;
}
.hiddenDiv{
  display: none;
  padding: 50px;
}
.form-control {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid white;
  border-radius: 0;
}
.form-control:focus {
  background: transparent;
  box-shadow: none;
}
#start {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.form-group {
  width: 100%;
}
button{
  margin-right: 50%;
  margin-left: 50%;
}
label{
  color: #F8F8FF;
}
